.#*
# 终于解决了emacs临时文件不能忽略的问题
\#*
*~
*.elc
Config/config+Scripts/countup.cache
Config/config+Scripts/show-png.perl
Config/config+Scripts/windy-conf/userdb.db
Config/config+Scripts/windy-conf/nickname
Config/config+Scripts/windy-conf/sense
Config/config+Scripts/windy-conf/admin
Config/config+Scripts/windy-conf/channels
Config/config+Scripts/windy-conf/sign
lib/Windy/Conf/userdb.db
lib/Windy/Conf/nickname
lib/Windy/Conf/sense
lib/Windy/Conf/admin
lib/Windy/Conf/channels
lib/Windy/Conf/sign
src/*/build/*
*.pir
*.moarvm
GentooConfig/conf.d/._cfg*
