[submodule "Config/emacs.d+lisp-others/rainbow-identifiers"]
	path = Config/emacs.d+lisp-others/rainbow-identifiers
	url = https://github.com/Fanael/rainbow-identifiers.git
[submodule "Config/emacs.d+lisp-others/perl6-mode"]
	path = Config/emacs.d+lisp-others/perl6-mode
	url = https://github.com/hinrik/perl6-mode.git
[submodule "Config/emacs.d+lisp-others/color-theme"]
	path = Config/emacs.d+lisp-others/color-theme
	url = https://github.com/haxney/color-theme.git
[submodule "Config/emacs.d+lisp-others/highlight-tail"]
	path = Config/emacs.d+lisp-others/highlight-tail
	url = https://github.com/emacsmirror/highlight-tail.git
[submodule "Config/emacs.d+lisp-others/fvwm-mode"]
	path = Config/emacs.d+lisp-others/fvwm-mode
	url = https://github.com/theBlackDragon/fvwm-mode.git
[submodule "Config/emacs.d+lisp-others/rainbow-delimiters"]
	path = Config/emacs.d+lisp-others/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "src/windy/Simple-Web-Server"]
	path = src/windy/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "Config/emacs.d+lisp-others/flycheck"]
	path = Config/emacs.d+lisp-others/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "Config/emacs.d+lisp-others/flycheck-perl6"]
	path = Config/emacs.d+lisp-others/flycheck-perl6
	url = https://github.com/hinrik/flycheck-perl6.git
[submodule "Config/emacs.d+lisp-others/emacs-zlc"]
	path = Config/emacs.d+lisp-others/emacs-zlc
	url = https://github.com/mooz/emacs-zlc.git
