.#*
# 终于解决了emacs临时文件不能忽略的问题
\#*
*~
*.elc
Config/config+Scripts/countup.cache
Config/config+Scripts/show-png.perl
Config/config+Scripts/windy-conf/userdb.db
Config/config+Scripts/windy-conf/nickname
src/*/build/*
*.pir
*.moarvm
GentooConfig/conf.d/._cfg*
