[submodule "Config/emacs.d+lisp-others/rainbow-identifiers"]
	path = Config/emacs.d+lisp-others/rainbow-identifiers
	url = https://github.com/Fanael/rainbow-identifiers.git
[submodule "Config/emacs.d+lisp-others/perl6-mode"]
	path = Config/emacs.d+lisp-others/perl6-mode
	url = https://github.com/hinrik/perl6-mode.git
[submodule "Config/emacs.d+lisp-others/color-theme"]
	path = Config/emacs.d+lisp-others/color-theme
	url = https://github.com/haxney/color-theme.git
[submodule "Config/emacs.d+lisp-others/highlight-tail"]
	path = Config/emacs.d+lisp-others/highlight-tail
	url = https://github.com/emacsmirror/highlight-tail.git
[submodule "Config/emacs.d+lisp-others/fvwm-mode"]
	path = Config/emacs.d+lisp-others/fvwm-mode
	url = https://github.com/theBlackDragon/fvwm-mode.git
[submodule "Config/emacs.d+lisp-others/rainbow-delimiters"]
	path = Config/emacs.d+lisp-others/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "src/windy/Simple-Web-Server"]
	path = src/windy/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "Config/emacs.d+lisp-others/flycheck"]
	path = Config/emacs.d+lisp-others/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "Config/emacs.d+lisp-others/flycheck-perl6"]
	path = Config/emacs.d+lisp-others/flycheck-perl6
	url = https://github.com/hinrik/flycheck-perl6.git
[submodule "Config/emacs.d+lisp-others/emacs-zlc"]
	path = Config/emacs.d+lisp-others/emacs-zlc
	url = https://github.com/mooz/emacs-zlc.git
[submodule "Config/emacs.d+lisp-others/dash.el"]
	path = Config/emacs.d+lisp-others/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "Config/emacs.d+lisp-others/editorconfig-emacs"]
	path = Config/emacs.d+lisp-others/editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs.git
[submodule "src/windy/json"]
	path = src/windy/json
	url = https://github.com/nlohmann/json.git
[submodule "src/windy/base64"]
	path = src/windy/base64
	url = https://github.com/tkislan/base64.git
[submodule "src/windy/iconvpp"]
	path = src/windy/iconvpp
	url = https://github.com/unnonouno/iconvpp.git
[submodule "Config/fonts/ttf-symbola"]
	path = Config/fonts/ttf-symbola
	url = https://github.com/gearit/ttf-symbola.git
	ignore = untracked

