[submodule "Config/emacs.d+lisp-others/rainbow-identifiers"]
	path = Config/emacs.d+lisp-others/rainbow-identifiers
	url = https://github.com/Fanael/rainbow-identifiers.git
[submodule "Config/emacs.d+lisp-others/perl6-mode"]
	path = Config/emacs.d+lisp-others/perl6-mode
	url = https://github.com/hinrik/perl6-mode.git
[submodule "Config/emacs.d+lisp-others/color-theme"]
	path = Config/emacs.d+lisp-others/color-theme
	url = https://github.com/haxney/color-theme.git
[submodule "Config/emacs.d+lisp-others/highlight-tail"]
	path = Config/emacs.d+lisp-others/highlight-tail
	url = https://github.com/emacsmirror/highlight-tail.git
[submodule "Config/emacs.d+lisp-others/fvwm-mode"]
	path = Config/emacs.d+lisp-others/fvwm-mode
	url = https://github.com/theBlackDragon/fvwm-mode.git
[submodule "Config/emacs.d+lisp-others/rainbow-delimiters"]
	path = Config/emacs.d+lisp-others/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
